@import "bourbon";

$default-font: "roboto", sans-serif;
$accent: orange;
$main-color:  #313c49;
$h2-color: #f2b632;
$darken-white: #f2f2f2;
$darken-white2: #edebeb;
$light-white: #faf8f8;
$darken-white3: #f1f1f1;
$footer-color: #2a3039;
$button-purple: #ff4b5a;
$button-green: #1fab5a;
$shadow-color: #dedede;
$font-color: #66837e;
$section-contact-color: #313944;
